
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about_section"> 
    <div class="header">
        <h1>About Us</h1>
    </div>

    <div class="content curve">
        <div class="section">
            <h2>Who We Are</h2>
            <p>
                We seek to engage audiences through compelling, ensemble-driven <br /> productions <br /> with a focus on developing
                new works.
            </p>
        </div>
    </div>

    <div class="red-section">
        <div class="section">
            <h2>Company History</h2>
            <p>
                In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers. Since then, Theatre
                Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company,
                TheaterTheatre, and The.
            </p>
            <p>
                From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration
                with The Anonymous Theatre Company. Other collaborative partnerships include defunkt theatre, Dark
                Thriving Theater and Tears of Joy Theatre.
            </p>
            <p>
                Theatre Vertigo has worked on world premieres including Faust Li by Joseph Fisher and The End of Sex by
                Craig Jessen.
            </p>
            <p>
                In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright: I Want to
                Destroy You, by Rob Handel.
            </p>
        </div>
    </div>

    <div class="ensemble-section">
        <div class="section">
            <h2>Ensemble</h2>
            <div class="ensemble">
                <div class="member">
                    <img src="~/Content/images/Tom.jpeg" alt="Tom Mounsey">
                    <p><strong>TOM MOUNSEY</strong></p>
                </div>
                <div class="member">
                    <img src="~/Content/images/Kaia.jpeg" alt="Kaia Maarja Hillier">
                    <p><strong>KAIA MAARJA HILLIER</strong></p>
                </div>
                <div class="member">
                    <img src="~/Content/images/Heath.jpeg" alt="Heath Hyun Houghton">
                    <p><strong>HEATH HYUN HOUGHTON</strong></p>
                </div>
                <div class="member">
                    <img src="~/Content/images/Jacquelle.jpeg" alt="Jacquelle Davis">
                    <p><strong>JACQUELLE DAVIS</strong></p>
                </div>
                <div class="member">
                    <img src="~/Content/images/Victoria.jpeg" alt="Victoria Alvarez-Chacon">
                    <p><strong>VICTORIA ALVAREZ-CHACON</strong></p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="content">
        <div class="section">
            <h2>Board</h2>
            <p>Jamie Floyd (President)</p>
        </div>
    </div>
</div>