
@{
  ViewBag.Title = "Home Page";
}


<!--Home body content-->
<div class=" container home-content">
    
    <div class="home-row text-center mb-5">
        <div class="home-logo col-12">
            <img src="~/Content/images/TheatreLogo.png" class="img-fluid" alt="Theatre Vertigo Logo" />
        </div>
    </div>
    
    <div class="home-row row">
        <!--Column1 Spotlight-->
        <div class="home-col1 col-md-8">
            <div class="home-title mb-4">
                <h3>SPOTLIGHT</h3>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="~/Content/images/DollsHouse.png" class="img-fluid" alt="Doll's House Poster">
                </div>
                <div class="col-12 mb-3">
                    <img src="~/Content/images/Tempest.png" class="img-fluid" alt="The Tempest Poster">
                </div>
                <div class="col-12 mb-3">
                    <img src="~/Content/images/MidsummerNightDream.png" class="img-fluid" alt="Midsummer Night Dream Poster">
                </div>
                <div class="col-12">
                    <img src="~/Content/images/macbeth.png" class="img-fluid" alt="Macbeth Poster">
                </div>
            </div>
        </div>
        <!--Column2 Sidebar-->
        <div class="home-col2 col-md-4">
            <!--Donations-->
            <div class="donations mb-4">
                <div class="home-title">
                    <h3>DONATIONS</h3>
                </div>
                <div class="btn-container text-center">
                    <button class="home-btn btn btn-danger btn-lg">Click to Support</button>
                </div>
            </div>
            <div>
                <!--Sponsors-->

                <div class="home-title mb-4">
                    <h3>SPONSORS</h3>
                </div>
                <div class="sponsors-containero row">
                    <div class="col-6 mb-3">
                        <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" class="img-fluid home-sponsors" alt="Sponsor Logo 1">
                    </div>
                    <div class="col-6 mb-3">
                        <img src="~/Content/images/Sponsors/LogoRoundColor.png" class="img-fluid home-sponsors" alt="Sponsor Logo 2">
                    </div>
                    <div class="col-6 mb-3">
                        <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" class="img-fluid home-sponsors" alt="Sponsor Logo 3">
                    </div>
                    <div class="col-6 mb-3">
                        <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" class="img-fluid home-sponsors" alt="Sponsor Logo 4">
                    </div>
                    <div class="col-6">
                        <img src="~/Content/images/Sponsors/RACC.png" class="img-fluid home-sponsors" alt="Sponsor Logo 5">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-row row mt-5">
        <!--Column1 Land Acknowledgement-->
        <div class="home-col1 col-md-8">
            <div class="home-title mb-4">
                <h3>LAND ACKNOWLEDGEMENT</h3>
            </div>
            <div class="home-text">
                <p>Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional
                tribal lands of the Multnomah, Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin,
                Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater, Confederated Tribes of
                the Grand Ronde and other indigenous peoples.<br /><br />
                <span style="font-weight: bold;">We are on stolen land.</span><br /><br />
                Theatre Vertigo has been and continues to examine our community relationships to ensure
                our collaborators, partners and sponsors support the our reions Indegenous Nations and communities.<br /><br />
                One of the ways Theatre Vertigo is working to act on our commitment to being of service
                to the lands that we now share is to build bridges between our arts community and local Nations.</p>
            </div>
        </div>
        <!--Column2 Link-->
        <div class="home-col2 col-md-4">
            <div class="home-acknowledgement">
                <a href="https://nayapdx.org/" target="_blank"><img src="~/Content/images/NAYAFamilyCenter.jpg" alt="NAYA Family Center" /></a>
                <div class="home-text ">
                    <p>Click to visit the NAYA Family Center to learn more about supporting our local indigenous communities.</p>
                </div>
            </div>
        </div>
    </div>

</div>

    

   














@*<div class="row">
  <div class="col-md-4">
      <h2>Getting started</h2>
   <p>
              ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
              enables a clean separation of concerns and gives you full control over markup
              for enjoyable, agile development.
          </p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>Get more libraries</h2>
          <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>Web Hosting</h2>
          <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
      </div>
  </div>*@